<%- include("templates/headers") %>
<head>
    <title>Error</title>
  </head>
  <body>
    <div class="text-center">
      <h1><%= error %></h1>
      <a href="/login" class="btn btn-primary bg-pink">Error! Please try again. <br> Unfortunately, this page is not available.</a>
    </div>    
  </body>
<%- include("templates/footer") %>